/*
* @Author: admin
* @Date:   2018-06-12 09:28:18
* @Last Modified by:   Mo
* @Last Modified time: 2018-09-07 17:14:51
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: 微软雅黑;
}
a{
	text-decoration: none;
}
/* body>div{
	min-width: 1000px;
} */
.s_icon{
	width: 15px;
}
.s_icon img{
	width: 13px;
    margin-top: 10px;
    margin-left: 3px;
}
.header{
	height: 30px;
	width: 100%;
	background: #323232;
	overflow: hidden;
    min-width: 1000px;
}
.h_left{
	margin-top: 6px;
	margin-left: 30px;
	float: left;
}
.h_left a img{
	width: 58px;
	height: 18px;
}
.h_center{
	/* background: blue; */
	width: 600px;
	height: 30px;
	float: left;
}
.nav{
	width: 660px;
	height: 30px;
	margin-left: 18px;
}
.nav a{
	overflow: hidden;
}
.nav>li{
	float: left;
	line-height: 30px;
    font-size: 14px;
    padding: 0 13px;
    margin-right: 10px;
}
.nav li a span{
	color: silver;
	font-weight: 900;
	float: left;
}
.nav .icon-xiala{
	font-size: 12px;
	margin-left: 4px;
}
.span_color{
	color: silver;
}
.h_menu{
	display: none;
	background: #fff;
	padding: 10px 0px;
	position: absolute;
	top: 30px;
	z-index: 200;
    border-radius: 4px;
    border: 1px solid #999;
}
.h_menu ul li{
	margin: 2px 0;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #636363;
}
.h_right{
	width: 150px;
	height: 30px;
	float: right;
	line-height: 30px;
	margin-left: 13px;
	margin-right: 25px;
}
.h_right a{
	color: silver;
	font-weight: 900;
	font-size: 14px;
	margin-left: 5px;
}
.h_right a:hover{
	color: #10b041;
}
.nav_search{
	float: right;
	/* background: pink; */
	position: relative;
	margin-right: 10px;
}
.nav_search input{
	width: 0px;
	height: 22px;
	margin-top: 4px;
	border-radius: 4px;
	border: 0px;
	/* display: none; */
	position: absolute;
	right: 10px;
	/* top: 0; */
	outline: none;
}
.nav_search .icon-sousuo{
	position: absolute;
	right: 15px;
	top: 8px;
	color: silver;
	font-weight: 600;
}
.nav_search span{
	color: silver;
	display: block;
	margin-top: 7px;
	font-size: 12px;
	font-weight: bold;
}
/* -----------nav------------- */

.dep_sup{
	height: 70px;
	width: 100%;
	/* background: pink; */
}
.d_sup_con{
	width: 1160px;
	height: 70px;
	margin: 0 auto;
	padding: 15px 0px;
	box-sizing: border-box;
	/* background: wheat; */
}
.d_sup_con>span{
	color: #00b081;
    font-size: 28px;
    margin: 0px 25px;
    float: left;
    /* background: lightcyan; */
}
.d_sup_con1{
	/* width: 615px; */
	height: 40px;
	/* background: lightcoral; */
	float: left;
	margin-left: 49px;
	position: relative;
}
.d_sup_con1 input{
	width: 610px;
	height: 40px;
	border-radius: 20px;
	border: 0px;
	background: #f1f1f1;
	padding: 0px 20px;
	outline: none;
	float: left;
}
.d_sup_con1>div{
	position: absolute;
	top: 10px;
	right: 15px;
}
.d_sup_con1>div>img{
	width: 23px;
}
.d_sup_con2{
	float: right;
	margin-right: 20px;
}
.d_sup_con1 .sup_search{
	width: 620px;
	background: #fff;
	position: absolute;
	left: 15px;
	top: 40px;
	z-index: 10;
	display: none;
}
.sup_search li{
	width: 618px;
	height: 38px;
	border: 1px solid #f4f4f4;
	border-top: 0;
}
.sup_search li:hover{
	background: #21c091;
	color: #fff;
}
.sup_search li span:nth-of-type(1){
	line-height: 38px;
	margin-left: 10px;
}
.sup_search li span:nth-of-type(2){
	line-height: 38px;
	margin-left: 10px;
	float: right;
	font-size: 14px;
	margin-right: 10px;
	color: #dbdbdb;
}
.d_sup_con2 span{
	color: #00b081;
	font-size: 15px;
	margin-left: 20px;
	line-height: 40px;
}
.d_sup_con2 i{
	color: #13af7e;
}
/* -----SupermarketNav---------- */

.dep_main{
	height: 800px;
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	position: relative;
}
.d_m_ul li{
	position: absolute;
	left: 0px;
	right: 0px;
}
.dep_main>span{
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -227px;
}
.d_m_con{
	background: #fff;
	position: absolute;
	width: 1160px;
    bottom: 77px;
    left: 50%;
    margin-left: -580px;
    overflow: hidden;
    height: 137px;
}
.d_m_con1{
	height: 68px;
}
.d_m_con1 ul{
	margin: 27px 0px;
    margin-top: 20px;

}
.d_m_con1 li{
	float: left;
	width: 386px;
    height: 48px;
}
.d_m_con1 li a{
	float: left;
    width: 386px;
    height: 48px;
    border-right: 1px solid #bfbfbf;
    /* background: lightblue; */
}
.d_m_con1 li:nth-of-type(1){
	background: url('../images/nav_top.png') no-repeat 50%;
	background-position: 85px 0px;
}
.d_m_con1 li:nth-of-type(2){
	background: url('../images/nav_top.png') no-repeat 50%;
	background-position: 85px -95px;
}
.d_m_con1 li:nth-of-type(3){
	background: url('../images/nav_top.png') no-repeat 50%;
	background-position: 85px -185px;
}
.d_m_con2{
	/* background: lightblue; */
	width: 1160px;
	height: 30px;
}
.d_m_con2 span{
	display: inline-block;
	margin-left: 30px;
	padding: 0px 20px;
	border-right: 1px solid #bfbfbf;
	float: left;
	color: #5d5d5d;
	font-size: 14px;
	font-weight: 600;
}
.d_m_con2 ul{
	margin-top: 5px;
	font-weight: 500;
}
.d_m_con2 li{
	float: left;
	color: #5d5d5d;
	margin-left: 18px;
	font-size: 14px;
}
/* -----MainPicture---------- */

.dep_tour{
	width: 100%;
	height: 943px;
	box-shadow: 0px -470px 100px #000;
}
.dep_tour_center{
	/* background: lightblue; */
	width: 1160px;
	height: 943px;
	margin: auto;
	overflow: hidden;
}
.d_t_con1{
	/* background: pink; */
	width: 100%;
	height: 81px;
	margin: 40px 0px;
}
.d_t_con1 h1,p{
	text-align: center;
	color: #323232;
	font-size: 14px;
}
.d_t_con1 h1{
	font-size: 40px;
	font-weight: 200;
}
.d_t_con2{
	/* background: pink; */
	width: 100%;
	height: 470px;
}
.d_t_con2 li{
	/* background: wheat; */
	float: left;
    width: 376px;
    height: 470px;
    margin-right: 15px;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
}
.d_t_con2 a{
	overflow: hidden;
}
.d_t_con2 li:nth-of-type(3){
	margin: 0px;
}
.d_t_con2 ul li a>img{
	height: 470px;
	position: absolute;
	left: -165px;
}
.d_t_c2_ad{
	width: 376px;
	height: 140px;
	position: absolute;
    bottom: 0;
    color: #fff;
    padding: 25px;
    text-shadow: #333 2px 2px 4px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px -100px 100px rgba(0, 0, 0, 0.3);
}
.d_t_c2_ad img{
	float: left;
}
.d_t_c2_ad p:nth-of-type(1){
	float: left;
	font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 7px;
    color: #fff;
}
.d_t_c2_ad p:nth-of-type(2){
	float: left;
	font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    color: #fff;
    text-align: left;
}
.dt_c2_introduce{
	background: #fff;
    width: 326px;
    position: absolute;
    padding: 25px;
    left: 0px;
    bottom: 0px;
    display: none;
}
.dt_c2_introduce>p:nth-of-type(1){
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	color: #000;
}
.dt_c2_introduce>p:nth-of-type(2){
	font-size: 13px;
    color: #858484;
    height: 70px;
    overflow: hidden;
}
.dt_c2_introduce span{
	color: #ff7462;
    font-size: 22px;
    float: left;
    padding-top: 5px;
}
.dt_c2_introduce>p:nth-of-type(3){
	font-size: 13px;
    color: #858484;
    padding-top: 13px;
    float: left;
}
.d_t_con3{
	height: 140px;
	width: 100%;
	margin-top: 20px;
	position: relative;
}
.dt3{
	width: 26px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: absolute;
    background: rgba(0,0,0,0.3);
    top: 0;
    z-index: 1;
    cursor: pointer;
}
.dt3_left{
    left: 0px;
}
.dt3 img{
	width: 15px;
}
.dt3_right{
	right: 0px;
}
.depth_left{
	background: rgba(0, 0, 0, 0.2)
}
.dt3_ul{
	margin-left: 26px;
	width: 1108px;
	overflow: hidden;
	position: relative;
	height: 140px;
}
.dt3_ul>ul{
	width: 9999px;
	position: absolute;
	left: 0;
	top: 0;
}
.dt3_ul li{
    margin-right: 10px;
    width: 357px;
    background: #fff;
    height: 140px;
    float: left;
    /* background: lightblue; */
}
.dt3_ul ul{
	margin-left: 10px;
}
.dt3_img{
    float: left;
    width: 180px;
    height: 140px;
    overflow: hidden;
    position: relative;
}
.dt3_img img{
	height: 140px;
	position: absolute;
	left: -15px;
}
.dt3_txt{
	/* background: wheat; */
    padding: 15px;
    float: left;
    width: 147px;
    height: 110px;
}
.dt3_txt p{
    color: #000;
    text-align: left;
}
.dt3_txt p:nth-of-type(1){
	font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}
.dt3_txt p:nth-of-type(2){
	height: 42px;
    margin-bottom: 13px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.dt3_txt span{
	color: #fff;
    width: 76px;
    height: 20px;
    line-height: 20px;
    background: #d6d6d6;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
    padding: 1px 10px;
}
.d_t_con4 a{
	display: block;
    border: 2px solid #334534;
    width: 128px;
    height: 34px;
    line-height: 34px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: #333;
    margin-top: 40px;
}
.d_t_con4 a:hover{
	color: #00b081;
	border: 2px solid #00b081;
}
/* ----------DayTour------------- */
.depth_long .d_t_con1 h1{
	font-weight: 500;
}
.depth_long .d_t_con1 h1,p{
	color: #fff;
}
.depth_long{
	overflow: hidden;
	height: 920px;
    width: 100%;
    background: url('../images/long_background.jpg') no-repeat top;
}
.long_wrap{
	height: 920px;
	width: 1160px;
    margin: 0 auto;
    position: relative;
    /* background: pink; */
}
.l_w_txt{
	position: absolute;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 18px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    padding: 0 31px;
    height: 344px;
    border-bottom: 1px solid #999;
    margin-top: 62px;
    cursor: pointer;
}
.long_left{
	left: 0px;
}
.long_right{
	right: 0px;
}
.l_w_txt span{
	word-wrap: break-word;
	width: 18px;
	display: block;
	margin-top: 50px;
	line-height: 15px;
}
.long_wrap>span{
	position: absolute;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 18px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    padding: 0 31px;
    height: 50px;
    top: 407px;
}
.left{
	left: 0px;
	cursor: pointer;
}
.left img{
	width: 15px;
	margin-top: 15px;
}
.right{
	right: 0px;
	cursor: pointer;
}
.right img{
	width: 15px;
	margin-top: 15px;
}
.long_img1{
	position: relative;
    float: left;
    width: 748px;
    height: 405px;
    overflow: hidden;
}
.long_img1>img{
	width: 748px;
}
.long_img2{
	float: left;
    width: 252px;
}
.long_img2>div{
	display: block;
    width: 252px;
    height: 135px;
    overflow: hidden;
    position: relative;
}
.long_img2 img{
	width: 252px;
	position: absolute;
	top: -10px;
}
.img1_txt{
	position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 2;
    padding: 0 25px 20px 45px;
    width: 556px;
}
.img1_txt span:nth-of-type(1){
	font-size: 24px;
}
.img1_txt span:nth-of-type(2){
	font-size: 17px;
}
.img1_txt p{
	text-align: left;
	color: #fff;
}
.long_img1>a{
	color: #fff;
    background: #00b081;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 18px;
}
.long_introduce{
	width: 1000px;
	height: 165px;
	background: #fff;
	float: left;
}
.long_path{
	float: left;
    width: 411px;
    border-right: 1px solid #e0e0e0;
    height: 120px;
    padding: 0 44px;
    margin-top: 20px;
}
.long_author{
	float: left;
    width: 455px;
    padding-right: 45px;
    margin-top: 20px;
    height: 120px;
}
.long_title{
	text-align: left;
	margin: 10px 0px;
	font-size: 18px;
	font-weight: 600;
}
.long_txt{
	color: #7e7e7e;
    height: 105px;
    overflow: hidden;
    line-height: 22px;
    text-align: left;
}
.long_author img{
	float: left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 0 27px 0 40px;
}
.lmain_ul{
	margin-left: 80px;
    width: 1000px;
    height: 570px;
    overflow: hidden;
    position: relative;
}
.long_main{
	width: 9999px;
	position: absolute;
	left: 0;
	top: 0;
}
.long_main li{
    width: 1000px;
    overflow: hidden;
    float: left;
}
.d_l_con1{
	overflow: hidden;
	float: left;
    width: 1000px;
    height: 140px;
    margin: 0 auto;
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
}
.d_l_con1 ul{
	margin-left: 26px;
}
.d_l_con1 li{
	width: 237px;
    position: relative;
    text-align: center;
    height: 140px;
    margin: 0px;
    float: left;
    background: rgba(0, 0, 0, 0.5)
}
.d_l_con1 li img{
	width: 237px;
	position: absolute;
	top: -10px;
	left: 0px;
	z-index: 0;
	opacity: 0.8;
}
.d_l_con1 p{
	position: absolute;
	z-index: 2;
	color: #fff;
}
.d_l_con1 p:nth-of-type(1){
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	width: 237px;
	margin-top: 30px;
}
.d_l_con1 p:nth-of-type(2){
	text-align: center;
	font-size: 13px;
	width: 185px;
	margin-top: 60px;
	margin-left: 20px;
}
/* ----------长线---------------- */
.depth_them{
	width: 100%;
	height: 430px;
    text-align: center;
    /* background: pink; */
}
.depth_them p{
	padding-bottom: 10px;
    color: #7e7e7e;
    font-size: 14px;
}
.depth_them p:nth-of-type(1){
	font-size: 30px;
	margin: 10px 0px;
	color: #000;
}
/* -----------他们--------- */
.depth_qhome .d_t_con1 h1{
	font-weight: 500;
}
.depth_qhome .d_t_con1 h1,p{
	color: #fff;
}
.depth_qhome{
	width: 100%;
	position: relative;
	padding-top: 1px;
	overflow: hidden;
}
.depth_qhome>img{
	position: absolute;
	top: 0;
	left: -285px;
	z-index: -1;
	display: none;
}
.depth_qhome>img:nth-of-type(1){
	display: block;
}
.qhome_wrap{
	width: 1160px;
	margin: auto;
	overflow: hidden;
	position: relative;
	margin-bottom: 58px;
}
.qhome_list{
	width: 100px;
    background: #333;
    color: #fff;
    height: 600px;
    float: left;
}
.qhome_list ul{
	margin-top: 210px;
}
.qhome_list li{
    line-height: 64px;
    margin: auto;
    color: #858585;
    text-align: center;
    width: 80px;
    cursor: pointer;
    border-bottom: 1px solid #858585;
}
.qhome_list ul li:nth-of-type(3){
	border: 0;
}
.qhome_list .list_thelist{
    color: #fff;
    font-size: 20px;
}
.dep_qhome_main{
	width: 1060px;
	height: 600px;
	float: left;
	display: none;
	position: absolute;
	left: 100px;
	top: 0;
}
.dep_qhome_main:nth-of-type(2){
	display: block;
}
.dep_qhome_main .qhome_main_left{
	width: 500px;
	height: 600px;
	float: left;
}
.dep_qhome_main .qhome_main_right{
	margin-left: 30px;
	width: 530px;
	height: 600px;
	float: left;
}
.qhome_main_right .qhome_top{
	color: #fff;
    width: 530px;
}
.qhome_top p{
	color: #fff;
	margin-top: 12px;
	text-align: left;
}
.qhome_middle{
	margin-top: 15px;
	margin-bottom: 15px;
    height: 235px;
    width: 530px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    overflow: hidden;
    position: relative;
}
.qhome_span{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 235px;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
}
.middle_price{
	width: 100%;
	height: 65px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
	display: none;
}
.middle_price h5{
    width: 400px;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 0px;
    color: #333;
}
.middle_price span:nth-of-type(1){
	font-size: 12px;
    display: block;
    padding-left: 20px;
    margin-top: 5px;
    color: #858484;
    float: left;
}
.middle_price span:nth-of-type(2){
	float: right;
	color: #000;
	font-size: 14px;
	padding-right: 20px;
}
.middle_price em{
	color: #ff7462;
    font-size: 22px;
    font-style: normal;
}
.qhome_bottom{
    height: 235px;
    width: 530px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    overflow: hidden;
    position: relative;
}
/* --------Q-Home----------- */

.tour_fixed{
    width: 55px;
    box-sizing: border-box;
    position: fixed;
    bottom: 120px;
    right: 40px;
    background: #fff;
    z-index: 1000;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
    display: none;
}
.tour_fixed li{
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    border: solid 1px #e2e2e2;
    color: #b2b2b2;
    text-align: center;
    position: relative;
    margin-top: -1px;
    cursor: pointer;
}
.tour_fixed img{
    margin-top: 5px;
    height: 30px;
}
.tour_fixed ul li>span{
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
}
.tour_fixed .iconfont{
    font-size: 20px;
    display: block;
    margin-top: 6px;
}
.tour_fixed .icon-yijianfankui{
	font-size: 30px;
}
.tour_shake{
	animation:shake 0.4s;
}
@keyframes shake{
	0%{
		transform: rotate(0deg)
	}
	25%{
		transform: rotate(-20deg)
	}
	50%{
		transform: rotate(20deg)
	}
	75%{
		transform: rotate(-20deg)
	}
	100%{
		transform: rotate(0deg)
	}
}
.tour_app{
    display: none;
    padding: 14px;
    text-align: center;
    position: absolute;
    left: -160px;
    top: -126px;
    border: 1px solid rgb(221,221,221);
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
}
.tour_app p{
    font-size: 14px;
    color: #323232;
}
.tour_app img{
    width: 120px;
    height: 120px;
    margin-top: 9px;
}
/* ----------fixed------------- */

.footer{
    width: 100%;
    height: 120px;
    background: #323232;
    min-width: 1000px;
    border-top: 3px solid #25a851;
    padding-top: 25px;
    box-sizing: border-box;
    text-align: center;
}
.footer ul{
    height: 40px;
    width: 950px;
    margin: 5px auto;
}
.footer ul li{
    color: #c0c0c0;
    float: left;
    border-left: 2px solid #636363;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
.footer ul li:nth-of-type(1){
    border-left: 3px solid #25a851;
}
.footer p{
    color: #636363;
    font-size: 12px;
    margin-left: -65px;
}