/*
* @Author: Administrator
* @Date:   2018-06-18 13:43:15
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-20 20:43:49
*/
*{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
    text-decoration: none;
}
.header{
    height: 30px;
    width: 100%;
    background: #323232;
    overflow: hidden;
    min-width: 1000px;
}
.h_left{
    margin-top: 6px;
    margin-left: 30px;
    float: left;
}
.h_left a img{
    width: 58px;
    height: 18px;
}
.h_center{
    width: 600px;
    height: 30px;
    float: left;
}
.h_center ul li:nth-of-type(6) span{
    color: #10b041;
}
.nav{
    width: 600px;
    height: 30px;
    margin-left: 18px;
}
.nav>li{
    float: left;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
    margin-right: 10px;
}
.nav li a span{
    color: silver;
    font-weight: 900;
}
.span_color{
    color: silver;
}
.h_menu{
    display: none;
    background: #fff;
    padding: 10px 0px;
    position: absolute;
    top: 30px;
    z-index: 200;
    border-radius: 4px;
    border: 1px solid #999;
}
.h_menu ul li{
    margin: 2px 0;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #636363;
    /* white-space: nowrap; */
}
.h_right{
    /* background: pink; */
    width: 100px;
    height: 30px;
    float: right;
    line-height: 30px;
}
.h_right a{
    color: silver;
    font-weight: 900;
}

.center{
	width: 984px;
	margin: 0 auto;
}
.search{
	background: linear-gradient(to right,#4ac0ec 0,#6595db 100%);
	color: #ffffff;
	transition-duration: 5s;
}
.current_bule{
	background:linear-gradient(to right,#4ac0ec 0,#6595db 100%);
}
.current_pink{
	background:linear-gradient(to right,#ffb892 0,#ffa8b2 100%);
}
.search .s_title{
	position: relative;
}
.search .s_title p{
	text-align: left;
    font-size: 40px;
    font-weight: 200;
    line-height: 60px;
    padding: 30px 0;
}
.search .s_title .s_link{
	position: absolute;
	right: 0;
	top: 10px;
}
.search .s_title .s_link span{
	padding: 0 10px;
}
.search .s_title .s_link span:nth-child(1){
	border-right: 1px solid #fff;
}

.search .s_search>span{
	display: inline-block;
	font-size: 20px;
    color: #fff;
    padding-bottom: 5px;
    margin-right: 30px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.search .s_search>span.current{
	border-bottom: 2px solid #fff;
}

.search .s_search .ss_input{
	margin: 20px 0 25px 0;
	position: relative;
}
.search .s_search .ss_input .where{
	width: 175px;
	height: 70px;
	background: #fff;
    padding: 10px 16px 10px 53px;
    border: none;
    box-sizing: border-box;
    color: #1467B6;
    float: left;
    font-size: 16px;
}
.search .s_search .ss_input .data{
	width: calc(100% - 354px);
	height: 70px;
	line-height: 70px;
	background: #fff;
    cursor: pointer;
    margin-left: 177px;
    text-align: center;
}
.search .s_search .ss_input .data span{
	color: #1467B6;
	font-size: 16px;
}
.search .s_search .ss_input .ss_btn{
	width: 175px;
	height: 70px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    border: none;
	background: linear-gradient(to right,#ffb631 0,#ff9f0a 100%);
}

.search .s_search .ss_input .ss_ipt_choose{
	width: 807px;
	padding-left: 20px;
	font-size: 12px;
	background: #fff;
	margin-top: 2px;
	box-sizing: border-box;
	color: #636363;
	position: absolute;
	display: none;
	z-index: 99;
	border: 1px solid #ccc;
}
.ss_input .ss_ipt_choose p{
	padding: 30px 0;
    font-size: 12px;
    opacity: 0.6;
}
.ss_input .ss_ipt_choose .list span{
	display: inline-block;
	width: 100px;
	font-size: 16px;
	box-sizing: border-box;
	text-align: right;
	padding-right: 30px;
}
.ss_input .ss_ipt_choose .list{
	margin-bottom: 30px;
	display: flex;
}
.ss_input .ss_ipt_choose .list>ul{
	font-size: 14px;
	width: 677px;
}
.ss_input .ss_ipt_choose .list>ul li{
	display: inline-block;
	width: 80px;
	line-height: 24px;
	padding-bottom: 15px;
	cursor: pointer;
}
.ss_input .ss_ipt_choose .list>ul li:hover{
	color: #fe9362;
}


.search .s_search .ss_more{
	padding-bottom: 25px;
}
.search .s_search .ss_more>span{
	display: inline-block;
	margin-right: 25px;
	font-size: 14px;
	cursor: pointer;
}
.search .s_search .ss_more .fuwu{
	float: right;
}
.search .s_search .ss_more .fuwu span{
	cursor: pointer;
	position: relative;

}
.search .s_search .ss_more .fuwu ul{
	position: absolute;
	left: 0;
	padding: 10px 20px;
	width: 235px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: black;
	font-size: 14px;
	display: none;
}
.search .s_search .ss_more .fuwu ul li{
	padding: 10px 5px;
	line-height: 10px;
	position: relative;
}
.search .s_search .ss_more .fuwu ul li img{
	position: absolute;
	left: 0;
	top: 5px;
}
.search .s_search .ss_more .fuwu ul li p{
	margin-left: 27px;
}
.container .con1{
	padding: 13px 0 0 0;
}
.container .con1 h3{
	padding: 20px 0;
	font-size: 18px;
	font-weight: 400;
}
.container .con1>ul{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 8px;
}
.container .con1>ul li{
	cursor: pointer;
    display: inline;
    font-size: 16px;
    margin-right: 20px;
    padding-bottom: 5px;
    color: #878787;
}
.container .con1>ul li.current{
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #f18f00;
}


.container .con1 .con1_box1{
	margin-top: 40px;
	display: none;
}
.container .con1 .con1_box1 .box_info>div{
	width: 482px;
	height: 164px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.container .con1 .con1_box1 .box_info div>p{
	height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}
.container .con1 .con1_box1 .box_info div>p img{
	display: inline-block;
	margin-right: 2px;
}
.container .con1 .con1_box1 .box_info div ul li{
	float: left;
	width: 160px;
	text-align: center;
}
.container .con1 .con1_box1 .box_info div ul li span{
	display: block;
	height: 48px;
	font-weight: 400;
}
.box_info div ul li span:nth-child(1){
	font-size: 34px;
    line-height: 48px;
    font-weight: 100;
    margin: 27px 0 0;
}
.box_info div ul li span:nth-child(2){
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}

.container .con1 .con1_box1 .box_info div ul li span em{
	font-size: 13px;
	font-style: normal;
}
.container .con1 .con1_box1 .box_info .info_left{
	float: left;
}
.container .con1 .con1_box1 .box_info .info_left p{
	background:rgba(208,243,252,.4);
	 color: #4B96DE;
}
.info_left ul li span:nth-child(1){
	color: #4B96DE;
}
.container .con1 .con1_box1 .box_info .info_right{
	float: right;
}
.container .con1 .con1_box1 .box_info .info_right p{
	   color: #41C074;
	   background: rgba(240,248,227,.3);
}
.info_right ul li span:nth-child(1){
	color: #41C074;
}
 
.container .con1 .con1_box1 .box_info>p{
    padding: 25px 0 20px 0;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
}
.con_hotel_card{
	height: 560px;
}


.card_ul li:nth-child(4),.card_ul li:nth-child(8){
	margin-right: 0px;
}
.card_li{
	float: left;
	margin-right: 16px;
	height: 285px;
}
.card_li img{
	width: 234px;
	height: 156px;
}
.card_span{
	float: left;
	display: block;
	height: 14px;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
.card_span img{
	width: 14px;
	height: 14px;
}
.card_img{
	width: 234px;
	height: 156px;
	position: relative;
}

.card_current{
	display: none;
    cursor: pointer;
    position: absolute;
    width: 234px;
    height: 156px;
    text-align: center;
}
.card_overlay{
	display: inline-block;
    top: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    position: absolute;
}
.card_current span {
    color: #fff;
    font-size: 18px;
    line-height: 156px;
    font-weight: 200;
}
.blue{
	box-shadow: 0px 0px 10px rgba(111, 149, 161, 0.85);
	background: linear-gradient(124deg,rgba(72,198,238,0.85) 0,rgba(111,134,214,.85) 100%);

}
.blue img{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
}
.pink{
	box-shadow: 0px 0px 10px rgba(255,167,182,.85);
	line-height: 186px;
    background: linear-gradient(124deg,rgba(255,185,150,.85) 0,rgba(255,167,182,.85) 100%);
}
.pink img{
	position: absolute;
	top: 50px;
	right: 50%;
	margin-right: -60px;
	width: 120px;
	height: auto;
}
.card_title{
	width: 234px;
	height: 22.4px;
	margin: 10px 0 10px 0;
	text-overflow: ellipsis;
    overflow: hidden;
}
.card_evaluate{
	width: 234px;
	height: 24px;
	font-weight: 400;
    font-size: 14px;
}
.card_evaluate span:nth-child(2){
	padding-left: 10px;
    margin-top: -2px;
    font-size: 13px;
}
.card_price{
	width: 234px;
	height: 25.6px;
	margin-top: 10px;
}
.card_price span:nth-child(1){
	font-size: 18px;
    font-weight: 800;
}
.card_price span:nth-child(2){
	font-size: 12px;
    margin-left: 5px;
}
.box_more{
	padding: 30px 0;
}
.box_more span{
	display: block;
	width: 200px;
	height: 60px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	line-height: 60px;
	font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.box_more span:hover{
	background: #f3f3f3;
}
.container .con2{
	margin-top: 60px;
	padding: 35px;
	border: 1px solid rgba(72,197,239,0.5);
	border-left: 7px solid rgba(72,197,239,0.5);
	height: 100px;
}
.container .con2 p{
	font-size: 18px;
    font-weight: 500;
}
.container .con2 div{
	font-size: 15px;
    opacity: .6;
    line-height: 29px;
    margin-top: 25px;
}
.container .con3{
	height: 300px;
	width: 100%;
	color: #fff;
}
.container .con3 ul{
	width: 100%;
	margin-top: 40px;
}
.container .con3 ul li{
	position: relative;
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
.container .con3 ul li img{
	width: 190px;
    height: 300px;
}

.container .con3 ul li:nth-child(5){
	margin-right: 0;
}
.container .con3 ul li>div{
	position: absolute;
	left: 0;
	top: 0;
	width: 190px;
    height: 300px;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 66%,rgba(0,0,0,1) 94%,rgba(0,0,0,1) 100%);
}
.container .con3 ul li div>div{
	position: absolute;
	bottom: 20px;
	left: 15px;
}
.container .con3 ul li div span{
	display: block;
}
.container .con3 ul li div span:nth-child(1){
	font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}
.container .con3 ul li div span:nth-child(2){
	font-size: 12px;
    line-height: 17px;
    font-weight: 200;
}
.container .con4{
	margin-top: 80px;
	height: 420px;
}
.container .con4 p{
	font-size: 18px;
    line-height: 14px;
    color: #323232;
    margin-bottom: 30px;
}
.container .con4 .con4_left{
	width: 478px;
	float: left;
}
.container .con4 .img{
	position: relative;
}
.container .con4 .img .card_current{
	position: absolute;
	left: 0;
	top: 0;
	width: 478px;
    height: 310px;
}
.container .con4 .img>img{
	width: 478px;
    height: 310px;
}

.container .con4 .info{
	margin-top: 10px;
}
.container .con4 .info .name span{
	display: inline-block;
	font-size: 16px;
}
.container .con4 .info .name span:nth-child(2){
	float: right;
	font-size: 12px;
}
.container .con4 .info .name span em{
	font-size: 18px;
    font-weight: 800;
    font-style: normal;
     margin-right: 5px;
}
.container .con4 .info .star{
	margin-top: 10px;
}
.container .con4 .info .star span{
	height: 17px;
	display: inline-block;
	font-size: 14px;
}
.container .con4 .info .star span:nth-child(1){
	padding-right: 8px;
	border-right: 1px solid #000;
}
.container .con4 .info .star span:nth-child(2){
	padding-left: 8px;
}
.container .con4 .con4_right{
	width: 478px;
	float: right;
}
.container .con4 .con4_right .star span{
	border-right: none;
}
.container .con4  .img .card_current span{
	line-height: 303px;
}
.container .con4  .img .pink img{
	margin-top: 65px;
}


.container .con5 .con5_box1{
	margin-top: 60px;
}
.container .con5 .con5_box1 h3{
	display: block;
	font-size: 18px;
    line-height: 14px;
    padding: 0;
    font-weight: 400;
    color: #323232;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container .con5 .con5_box1 ul{
	margin-top: 60px;
	height: 234px;
}
.container .con5 .con5_box1 ul li{
    float: left;
    line-height: 44px;
    font-size: 14px;
    width: 109px;
    height: 44px;	
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.container .con5 .con5_box1 ul li:hover{
	color: #fe9362;
}


.tour_fixed{
    width: 55px;
    height: 165px;
    box-sizing: border-box;
    position: fixed;
    bottom: 120px;
    right: 40px;
    background: #fff;
    z-index: 1000;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
    display: none;
}
.tour_fixed li{
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    border: solid 1px #e2e2e2;
    color: #b2b2b2;
    text-align: center;
    position: relative;
    margin-top: -1px;
    cursor: pointer;
}
.tour_fixed img{
    margin-top: 5px;
    height: 30px;
}
.tour_fixed ul li>span{
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
}
.tour_app{
    display: none;
    padding: 14px;
    text-align: center;
    position: absolute;
    left: -160px;
    top: -126px;
    border: 1px solid rgb(221,221,221);
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 4px;
}
.tour_app p{
    font-size: 14px;
    color: #323232;
}
.tour_app img{
    width: 120px;
    height: 120px;
    margin-top: 9px;
}

.footer{
	width: 100%;
	height: 120px;
	margin-top: 10px;
	/* position: fixed;
	bottom: 0px; */
	background: #323232;
	min-width: 1000px;
	border-top: 3px solid #25a851;
	padding-top: 25px;
	box-sizing: border-box;
}
.footer ul{
	height: 40px;
	width: 950px;
	margin: 5px auto;
}
.footer ul li{
	color: #c0c0c0;
	float: left;
	border-left: 2px solid #636363;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
}
.footer ul li:nth-of-type(1){
	border-left: 3px solid #25a851;
}
.footer p{
	color: #636363;
	margin-left: 230px;
	font-size: 12px;
}